#root {
  height: 100%;
}

.page {
  position: relative; /*.page는 자식 요소의 상대적 위치를 결정하는 기준점 */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DOSSaemmul';
}

.page2{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DOSSaemmul';
}

.round-button {
  display: inline-block;
  border-radius: 80%;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 14px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-bottom: 30px;
}

.green-button {
  background-image: linear-gradient(to bottom, #6bc670, #45a049);
  border: 1px solid green ;
}

.red-button {
  background-image: linear-gradient(to bottom, #e55e54, #c62828);
  border: 1px solid red ;
}

.yellow-button{
  background-image: linear-gradient(to bottom, #f6d996, #ffa509);
  border: 1px solid orange ;
}
.yellow-button:hover {
  background-image: linear-gradient(to bottom, #ffa509, #f6d996);
}

.green-button:hover {
  background-image: linear-gradient(to bottom, #45a049, #6bc670);
}

.red-button:hover{
  background-image: linear-gradient(to bottom, #c62828, #e55e54);
}

.button-container-img {
  display: flex;
  justify-content: center; /* 가로 방향으로 가운데 정렬 */
  margin-top:5rem;
}
.button-container {
  display: flex;
  justify-content: center; /* 가로 방향으로 가운데 정렬 */
  margin-top:1rem;
}

